/UnityClient/Assets/Scripts/builtref
/UnityClient/Library
obj
/UnityClient/Temp
/UnityClient/UnityPackageManager
/UnityClient/.vs/UnityClient/v14/.suo
/UnityClient/Assembly-CSharp.csproj
/UnityClient/UnityClient.csproj
/UnityClient/UnityClient.sln
/UnityClient/Assets/unity-ui-extensions
/UnityClient/UnityClient.Editor.csproj
/UnityClient/Assets/unity-ui-extensions.meta
/UnityClient/Assets/ThridParty
/UnityClient/Assets/ThridParty.meta
